body{
  font-family: Arial;
  text-align:center;
  background:#0f172a;
  color:white;
}

#gameArea{
  width:600px;
  height:400px;
  border:2px solid white;
  margin:auto;
  position:relative;
  margin-top:20px;
}

.token{
  width:40px;
  height:40px;
  background:gold;
  border-radius:50%;
  position:absolute;
  cursor:pointer;
}
